<html>
    <head>
        <style>html, body{ font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; }</style>
    </head>
    <body>
        <p>Thank you for connecting with Buyte!</p>
        <p>This window should close very soon...</p>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/wingify/across-tabs@1.2.0/dist/across-tabs.min.js"></script>
        <script>
            var ChildTab = new AcrossTabs.default.Child({
                onReady: onReady,
                onInitialize: onInitialize,
                onParentDisconnect: onParentDisconnect,
                onParentCommunication: onParentCommunication
            });
            function onReady(){
                setTimeout(function(){
                    var tabInfo = ChildTab.getTabInfo();
                    ChildTab.sendMessageToParent({
                        id: tabInfo.id
                    });
                    setTimeout(function(){
                        window.close();
                    }, 4000);
                }, 1000);
            }
            function onInitialize(){}
            function onParentDisconnect(){}
            function onParentCommunication(message){
                console.log(message);
            }
        </script>
    </body>
</html>